
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b006e;
    padding: 10px;
    color: white;
}


header h1 {
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    
}
nav{
    flex-direction: column;
}
nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.menu-icon {
    display:;
    font-size: 24px;
}


main {
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.photo-item {
    margin: 10px;
    text-align: center;
}

.photo-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
}


footer {
    background-color: #4b006e;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}


@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    nav ul {
        
    }

    
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 769px) {
    .menu-icon {
        display: none;
    }

    .gallery {
        flex-direction: row;
    }

    .photo-item {
        width: 30%;
    }
}
body{
font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
  }
  #temple-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  .temple-card {
    border: 1px solid #ddd; 
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.2s; 
  }

  .temple-image {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15); 
    border-radius: 4px; 
  }


